* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: $font-family;
  font-size: $font-size;
  background-size: 200% 100% !important;
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #ee7389 10%, #e73b40 90%);
  background-repeat: round;
  height: 100vh;
}

header {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/banner1.jpg');
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

header .heading {
  font-size: 3rem;
  color: white;
  padding: 1rem;
  text-align: center;
}

header #menu {
  font-size: 3rem;
  color: #666;
  cursor: pointer;
  margin: 1rem;
  display: none;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: var(--orange);
  padding: 1rem;
}

header .navbar ul li {
  margin: 0 1.5rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: #fff;
  padding: 10px;
}

nav {
  width: 100%;
  height: 80px;
  background: #080b12;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav div {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}

.logo {
  height: 50px;
  background-color: white;
  border-radius: 50px;
}

.menu {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  font-family: sans-serif;
}

#current {
  color: #e74c3c;
  padding: 10px;
}

#current:hover {
  color: #000;
  background-color: #e74c3c;
}

.menu:hover {
  color: #e74c3c;
  transition: 0.4s;
}

.icon i {
  font-size: 20px;
}

.icon i:hover {
  color: #e74c3c;
}

.icon a {
  padding: 10px 20px;
  background: #e74c3c;
  color: white;
  text-decoration: none;
  margin-left: 30px;
  border-radius: 5px;
}

.icon a:hover {
  background: transparent;
  border: 1px solid #e74c3c;
  color: black;
  transition: 0.4s ease;
}

.h-text {
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

#camera {
  font-size: 40px;
  margin-bottom: 10px;
}

.h-text h1 {
  font-family: sans-serif;
  font-size: 3em;
  line-height: 1.5em;
}

.h-text input {
  width: 60%;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  outline: none;
}

.h-text button {
  width: 30%;
  padding: 20px;
  background: #e74c3c;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  border-radius: 8px;
  margin-top: 30px;
}

.filter-gallery {
  padding: 100px;
}

.portfolio-menu {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-menu ul li {
  list-style: none;
  display: inline-block;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s ease;
  text-align: center;
}

#member {
  width: 30%;
  border-radius: 50%;
}

.portfolio-menu ul li:hover {
  background: #e71904;
  color: white;
  border-radius: 8px;
}

li.active {
  background: #e71904;
  color: white;
  border-radius: 8px;
}

.portfolio-item {
  width: 100%;
}

.portfolio-item .item {
  width: 360px;
  height: 360px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.portfolio-item .item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.members {
  font-family: sans-serif;
  width: 100%;
  padding: 20px 100px;
}

.member-info {
  text-align: center;
}

.member-info h1 {
  font-size: 2.5em;
}

.member-info h1 span {
  color: #e74c3c;
}

.member-card {
  text-align: center;
  padding-top: 50px;
  width: 50%;
  margin: auto;
}

.member-card p {
  margin: 20px 0px;
  line-height: 2em;
}

.member-card h2 {
  margin: 20px 0px;
}

.m-images {
  width: 100%;
  display: flex;
  margin: 20px 0px;
  overflow: hidden;
}

.m-images img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.m-images img:hover {
  transform: scale(1.5);
}

.m-contact {
  display: flex;
  text-decoration: none;
  color: white;
  background-color: #080b12;
  padding: 10px;
  border-radius: 20px 0 20px 0;
  flex-wrap: wrap;
  text-align: center;
}

.m-contact:hover {
  background-color: #e71904;
  color: #fff;
	font-family: sans-serif;
}

footer {
  width: 100%;
  position: static;
  bottom: 0;
  background: #080b12;
  color: #fff;
  padding: 10px 0 30px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  line-height: 20px;
}

p, h3 {
  color: #fff;
  text-align: center;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
  flex-basis: 15%;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #ffff;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.social-icon .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
.social-icon a{
	text-decoration: none;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyrigth {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

nav a:hover {
  background-color: #e74c3c;
  color: black;
  border-radius: 0 20px 0 20px;
}


@keyframes moving {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}

@media screen and (max-width:700px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .flexitem-left {
    margin-left: 0;
  }

  header {
    background-color: white;
  }
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes move {
  0% {
    background-position: 0 0
  }

  50% {
    background-position: 100% 0
  }

  100% {
    background-position: 0 0
  }
}

@media (max-width: 700px) {
  .logo {
    width: 75px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    bottom: unset;
  }

  .col {
    flex-basis: 100%;
  }

  .col:nth-child(2), .col:nth-child(3) {
    flex-basis: 100%;
  }
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@media (max-width:768px) {
  html {
    font-size: 55%;
  }

  .home .content {
    text-align: center;
  }

  .home .content h1 {
    font-size: 4rem;
  }

  .about .content h1 {
    font-size: 4rem;
  }
}

@media (max-width:500px) {
  html {
    font-size: 50%;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  header #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 6.2rem;
    right: -120%;
    height: 100%;
    width: 100%;
    border-top: .2rem solid rgba(0, 0, 0, .3);
  }

  header .navbar ul {
    height: 100%;
    width: 100%;
    flex-flow: column;
    background: #fff;
    padding-bottom: 15rem;
  }

  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
  }

  header .navbar ul li a {
    font-size: 4rem;
    color: #333;
    display: block;
  }

  header .navbar ul li a:hover {
    color: var(--orange);
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    right: 0;
  }
}
